<div id="page-content-wrapper">

    <script src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/js/addInput.js"></script>
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>New Trial</h3>

                </div>
                <section class="insert danger-color">
                    <h3>Insert Trial Data</h3>
                    <form action="/insert" method="post" role="form" class="col-lg-6 danger-color">
                        <div class="form-group ">
                            <label for="trialname">TrialName</label>
                            <input type="text" id="trialname" name="trialname">
                        </div>
                        <div class="input">
                            <label for="description">Description</label>
                            <input type="text" id="description" name="description">
                        </div>

                        <div class="input">
                            <label for="trialtype">Trial Type</label>
                            <input type="text" id="trialtype" name="trialtype">
                        </div>
                        <div class="input">
                            <label for="researchgroup"> Research Group</label>
                            <input type="text" id="researchgroup" name="researchgroup">
                        </div>

                        <div class="input">
                            <label for="researchername"> Researcher name</label>
                            <input type="text" id="researchername" name="researchername">
                        </div>

                        <div class="input">
                            <label for="organisation">Organisation</label>
                            <input type="text" id="organisation" name="organisation">
                        </div>
                        <div class="input">
                            <label for="specialisation">Specialisation</label>
                            <input type="text" id="specialisation" name="specialisation">
                        </div>

                        <div class="input">
                            <label for="starttime">StartTime</label>
                            <input type="text" id="starttime" name="starttime">
                        </div>
                        <div class="input">
                            <label for="endtime">EndTime</label>
                            <input type="text" id="endtime" name="endtime">
                        </div>
                        <div class="input">
                            <label for="timeperiodfrequency">TimePeriodFrequency</label>
                            <input type="text" id="timeperiodfrequency" name="timeperiodfrequency">
                        </div>

                        <div class="input">
                            <label for="notificationfrequency">NotificationFrequency</label>
                            <input type="text" id="notificationfrequency" name="notificationfrequency">
                        </div>
                        <div class="input">
                            <label for="imageresource">ImageResource</label>
                            <input type="text" id="imageresource" name="imageresource">
                        </div>

                        <div class="input">
                            <label for="minage">Min Age</label>
                            <input type="text" id="minage" name="minage">
                        </div>

                        <div class="input">
                            <label for="condition">Condition</label>
                            <input type="text" id="condition" name="condition">
                        </div>

                        <div class="input">
                            <label for="prereqtype">Prereq type</label>
                            <input type="text" id="prereqtype" name="prereqtype">
                        </div>

                        <button type="submit">INSERT</button>
                    </form>
                </section>


                <!--LOAD TRIAL DATA -->
                <section class="get col-lg-6 success-color">
                    <h3>Get Data</h3>
                    <a href="/get-data">LOAD TRIAL DATA</a>
                    <div>
                        {{# each items }}
                            <article class="item">
                                <div>trialname: {{ this.trialname }}</div>
                                <div>trialid: {{ this._id }}</div>
                                <div>researchgroup: {{ this.researchgroup }}</div>
                            </article>
                        {{/each}}
                    </div>
                </section>
                <!--UPDATE TRIAL DATA -->
                <!--UPDATE TRIAL DATA -->
                <section class="update col-lg-6 primary-color-dark">
                    <h3>Update Trial Data</h3>
                    <form action="/update" method="post">
                        <div class="input">
                            <label for="id">trialid</label>
                            <input type="text" id="id" name="id">
                        </div>
                        <div class="input">
                            <label for="trialname">TrialName</label>
                            <input type="text" id="trialname" name="trialname">
                        </div>
                        <div class="input">
                            <label for="specialisation">Specialisation</label>
                            <input type="text" id="specialisation" name="specialisation">
                        </div>
                        <button type="submit">UPDATE</button>
                    </form>
                </section>


                <!--INSERT QUESTIONS -->
                <h1> INSERT QUESTIONS</h1>
                <section class="insert danger-color">
                    <h3>Insert Data</h3>
                    <form action="/insertq" method="post" role="form" class="col-lg-6 danger-color">

                        <div class="input">Question 1</label>
                            <label for="question">question</label>
                            <input type="text" id="question" name="question">
                        </div>

                        <div class="input">Question Type</label>
                            <label for="questiontype">questiontype</label>
                            <input type="text" id="questiontype" name="questiontype">
                        </div>


                        <div class="input" id="dynamicInput">

                            <label for="answer">Answer</label>
                            <input type="text" id="answer" name="answer">
                        </div>
                        <input type="button" value="Add text input" onClick="addInput('dynamicInput');">
                        <input type="button" value="Remove text input" onClick="removeInput('dynamicInput');">


                        <button type="submit">INSERT</button>

                    </form>
                </section>
                <!--LOAD QUESTION DATA -->
                <section class="get col-lg-6 success-color">
                    <h3>Get Data</h3>
                    <a href="/get-data-q">LOAD QUESTION DATA</a>
                    <div>
                        {{# each items }}
                            <article class="item">
                                <div>researchgroup: {{ this.researchgroup }}</div>
                                <div>question: {{ this._id }}</div>
                            </article>
                        {{/each}}
                    </div>
                </section>
                <!--Update Question Data -->
                <section class="update col-lg-6 primary-color-dark">
                    <h3>Update Question Data</h3>
                    <form action="/updateq" method="post">
                        <div class="input">
                            <label for="idq">trialid</label>
                            <input type="text" id="idq" name="idq">
                        </div>
                        <div class="input">
                            <label for="researchgroup">Researchgroup</label>
                            <input type="text" id="researchgroup" name="researchgroup">
                        </div>
                        <button type="submit">UPDATE</button>
                    </form>
                </section>

            </div>
        </div>
    </div>
</div>