<div id="page-content-wrapper dashboard">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>{{trial.title}}</h3>
                </div>
            </div>
        </div>

        <!-- container for holding trial data -->
        <div id="dashboard-content-holder">
            <div class="row text-center">
                <div class="col-md-6">
                    <!-- images for the trial -->
                    <img src="{{multimedia}}">
                </div>
                <div class="col-md-6 text-left">
                    <div><strong>Condition:</strong> {{trial.condition}}</div>
                    <div><strong>Type:</strong> {{trial.trialtype}}</div>
                    <div><strong>Institute:</strong> {{trial.institute}}</div>
                    <div><strong>Date Created:</strong> {{trial.datecreated}}</div>
                    {{#if trial.datestarted}}
                        <div><strong>Date Started:</strong> {{trial.datestarted}}</div>
                    {{/if}}
                    {{#if trial.dateended}}
                        <div><strong>Date Ended:</strong> {{trial.dateended}}</div>
                    {{/if}}
                    <br>
                    <div><strong>State:</strong> {{trial.state}}</div>
                    <div><strong>Trial Duration:</strong> {{trial.duration}}</div>
                    <div><strong>Candidate Quota:</strong> {{trial.candidatequota}}</div>
                    <div><strong>Question Frequency:</strong> {{trial.frequency}}</div>
                    <br>
                    <div>{{trial.briefdescription}}</div>

                    <button class="btn btn-primary">Publish Trial</button>
                    <button class="btn btn-success" disabled>Trial Active</button>
                    <button class="btn btn-danger">Cancel Trial</button>

                </div>
            </div>

            <div class="row text-left">
                <div class="col-md-6">
                    <!-- about -->
                    <div class="page-header"><h3>About the trial</h3></div>
                    <div>{{trial.detaileddescription}}</div>
                </div>

                <div class="col-md-6">
                    {{#if is_researcher}}
                        <div class="page-header">
                            <h3>Questions</h3>
                        </div>

                        <ol>
                            {{#each questions}}
                                <li><strong>Title:</strong> {{title}}</li>
                                <strong>Type:</strong> {{questiontype}}
                                <ol>
                                    {{#each answers}}
                                        <li>
                                            {{this}}
                                        </li>
                                    {{/each}}
                                </ol>
                            {{/each}}
                        </ol>
                    {{else}}
                        <div>
                            Please sign in as this researcher in order to see more details
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#if is_researcher}}
                <div class="page-header">
                    <h3>Statistics</h3>
                </div>
                <div>
                    {{#if statistics}}
                        Responses & graphs here
                    {{else}}
                        {{#if trial.datestarted}}
                            No data is currently available for this trial
                        {{else}}
                            No data is currently available for this trial as it hasn't been started yet.
                            Your trial currently has <strong>0</strong> verified candidates, and requires a
                            minimum of <strong>{{trial.candidatequota}}</strong> to be started.<br>
                            Please view the notifications section in the side bar in order to manage candidate
                            verification.
                        {{/if}}
                    {{/if}}
                </div>
            {{else}}
                <div>
                    Please sign in as this researcher in order to see more details
                </div>
            {{/if}}
        </div>
        <!-- stats -->
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h3>Candidate Requests</h3>
                </div>
                {{#if is_researcher}}
                    {{#if req_candidates}}
                        <ol>
                            {{#each req_candidates}}
                                <li><a href="/users/candidates/{{userid}}/{{../trial._id}}">{{userid}}</a> <form id="{{userid}}" action="/verify_can/{{userid}}" method="post"><button id="{{userid}}" type="verify_can" class="btn btn-success">verify</button></form ><form id="{{userid}}" action="/reject_can/{{userid}}" method="post"><button id="{{userid}}" type="remove_can" class="btn btn-danger">remove</button></form></li>
                            {{/each}}
                        </ol>
                    {{else}}
                        <div>
                            No candidates have currently requested to join this trial
                        </div>
                    {{/if}}
                {{else}}
                    <div>
                        Please sign in as this researcher in order to see more details
                    </div>
                {{/if}}
            </div>
            <div class="col-md-6 text-left">
                <div class="page-header">
                    <h3>Verified Candidates</h3>
                </div>
                {{#if is_researcher}}
                    <ul>
                        {{#each ver_candidates}}
                            <li><a href="/users/candidates/{{userid}}">{{userid}} </a></li>
                        {{/each}}
                    </ul>
                {{else}}
                    <div>
                        Please sign in as this researcher in order to see more details
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>