<div id="page-content-wrapper">
    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-lg-12">
                <!-- title -->
                <div class="page-header">
                    <h3>{{trial.title}}<br>
                        <small>{{trial.trialtype}} {{trial.state}}</small>
                    </h3>
                </div>
            </div>
        </div>

        <!-- container for holding trial data -->
        <div id="dashboard-content-holder">
            <div class="row text-center">
                <div class="col-md-6">
                    <img src="{{multimedia}}">
                </div>
                <div class="col-md-6 text-left">
                    <div><strong>Hosted by:</strong> {{trial.researcherid}}</div>
                    <div><strong>Type:</strong> {{trial.trialtype}}</div>
                    <div><strong>Organisation:</strong> {{trial.organisation}}</div>
                    <div><strong>Condition:</strong> {{trial.condition}}</div>
                    <br>
                    <div>{{trial.briefdescription}}</div>
                </div>
            </div>

            {{#if is_researcher.show_statistics}}
                <div class="page-header">
                    <h3>Statistics</h3>
                </div>
                {{#if has_statistics}}
                    <div>
                        <h5>Ayyy stats here</h5>
                    </div>
                {{else}}
                    <div>
                        <h5>No statistics yet for this trial!</h5>
                    </div>
                {{/if}}
            {{/if}}

            {{#if update.hasupdate}}
                <div class="page-header"><h3>Updates</h3></div>
            {{/if}}
            <div class="page-header"><h3>About the trial</h3></div>
            <div>{{trial.detaileddescription}}</div>
        </div>
    </div>
</div>